<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Page</title>
  </head>
  <body>
    <h1>Community Page</h1>

    <h3>Check out your fellow CookBook Member's Pantry's and get Inspired!</h3>

    <ul>
      <%allUsers.forEach((user) => { %>
      <li>
        <a href="/users/<%=user._id%>"><%= user.username %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
